:root {
    --accent-color: #008966;
}

body {
    background: #222;
    color: #fff;
    padding-bottom: 50px;
}

.btn-success {
    border-radius: 10px !important;
    background: #008966;
    border: none;
}

.btn-success:hover {
    background: #00BC8C;
}

.btn-success:focus, .btn-success:active{
    background: #009670 !important;
}

.btn-secondary {
    border-radius: 10px !important;
    background: none !important;
}

/* ----------------------HEADER--------------------- */

.header {
    margin: 20px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top img{
    height: 50px;
}

.score {
    font-size: 20px;
}

.nav {
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    background: var(--accent-color);
    border-radius: 10px;
}

.nav li {
    text-align: center;
    flex: 1 1 auto;
    display: block;
    padding: 10px;
}

.nav li.active {
    background: #00BC8C;
}

/* ----------------------PLAYER--------------------- */

.player {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background: #303030;
}

.player img{
    object-fit: cover;
    width: 200px;
    height: 155px;
    border-radius: 10px;
}

.bird-name {
    margin: 10px 0;
    padding: 0;
    font-size: 32px;
}

/* -------------------------BIRDS------------------------ */

.birds {
    padding: 7.5px 0;
    border-radius: 10px;
    background: #303030;
}

.birds ul {
    overflow: hidden;
}

.birds ul li{
    cursor: pointer;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    transition: all .2s;
}

.birds ul li:first-child {
    border-radius: 10px 10px 0 0;
}

.birds ul li:last-child {
    border-radius: 0 0 10px 10px;
}

.birds ul li:hover{
    background: #444;
}

.birds ul li p{
    margin: 0;
}

.li-btn {
    margin-right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #444;
}


/* -------------------------INFO------------------------ */

.info {
    padding: 20px;
    min-height: 319px;
    border-radius: 10px;
    background: #303030;
}

.info-start {
    display: block;
    margin-top: 110px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.info-choose {
    width: 100%;
}

.info-choose img {
    width: 100%;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
}

.bidr-info-name {
    font-size: 20px;
    font-weight: 700;
}

.bidr-info-name, .bidr-info-species {
    margin-left: 15px;
}

.bidr-info-description {
    font-size: 15px;
    margin-top: 10px;
}

/* ---------------------------OVER------------------------------ */

.over {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #303030;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .info {
        margin-top: 20px;
    }
    .bidr-info-name {
        margin: 20px 0 10px 0;
    }
    .bidr-info-species {
        margin: 10px 0 10px 0;
    } 
  }